.msg { padding: 10px; background: #222; position: relative; }
.msg h1 { color: #fff;  }
.msg a { margin-left: 20px; background: #408814; color: white; padding: 4px 8px; text-decoration: none; }
.msg a:hover { background: #266400; }

/* //-- yui-grids style overrides -- */
body { font-family: Georgia; color: #444; }
#inner { padding: 10px 80px; margin: 80px auto; background: #EEECEC; border: solid #666; border-width: 8px 0 2px 0; }
.yui-gf { margin-bottom: 2em; border-bottom: 1px solid #ccc; padding-bottom:1em;}

/* //-- header, body, footer -- */
#hd { margin: 1.5em 0 2em 0; padding-bottom: 1.5em; border-bottom: 1px solid #ccc }
#hd h2 { text-transform: uppercase; letter-spacing: 2px; }
#bd, #ft { margin-bottom: 2em; }

/* //-- footer -- */
#ft { padding: 1em 0 3em 0; font-size: 92%; border-top: 1px solid #ccc; text-align: center; }
#ft p { margin-bottom: 0; text-align: center;   }

/* //-- core typography and style -- */
#hd h1 { font-size: 48px; text-transform: uppercase; letter-spacing: 3px; }
h2 { font-size: 152% }
h3, h4 { font-size: 122%; }
h1, h2, h3, h4 { color: #333; }
p { font-size: 100%; line-height: 18px; padding-right: 3em; }
a { color: #990003 }
a:hover { text-decoration: none; }
strong { font-weight: bold; }
li { line-height: 24px; border-bottom: 1px solid #ccc; }
p.enlarge { font-size: 122%; padding-right: 4.5em; line-height: 24px; color:#DB8F07;}
p.enlarge span { color: #000 }
.contact-info { margin-top: 7px; background-image:url(../images/portait.jpg); background-repeat:no-repeat; background-position:right;padding-right:90px; text-align:right; margin-left: -20px;}
.first h2 { font-style: italic; }
div:last-child, li:last-child { border-bottom: 0 }


/* //-- section styles -- */

a#pdf { position:absolute; background: #666; color: white; padding: 6px 12px 6px 12px; text-decoration: none;  top:25px; right:25px; box-shadow:2px 2px 5px #999;}
a#pdf:hover, a#pdf:before:hover { color:orange; }
a#pdf:before {position:absolute; left:-2.5em; top:-0.5em;display:block; content:""; width:3em; height:3em; border-radius:1.5em; background-color:#666; background-image:url(../images/dl_icon.png); background-repeat:no-repeat; background-position:center;}
@media screen and (min-width:1345px){ a#pdf {position:fixed;} } 
.job { position: relative; margin-bottom: 1em; padding-bottom: 1em; border-bottom: 1px solid #ccc; }
.job:last-child{margin-bottom:0px; padding-bottom:0px;}
.job h4 { position: absolute; top: 1em; right: 0 }
.job h3 { position: absolute; top: 0; right: 0 }
.job p { margin: 1em 0 1em 0; }

.last { border: none; }
.skills-list {  }
.skills-list ul { margin: 0; }
.skills-list li { margin: 3px 0; padding: 3px 0; }
.skills-list li span { font-size: 152%; display: block; margin-bottom: -2px; padding: 0 }
.talent { width: 32%; float: left; margin-bottom:1em; }
.talent h2 { margin-bottom: 6px; }

#srt-ttab { margin-bottom: 100px; text-align: center;  }
#srt-ttab img.last { margin-top: 20px }

/* --// override to force 1/8th width grids -- */
.yui-gf .yui-u{width:80.2%;}
.yui-gf div.first{width:12.3%;}

.detail-modal{
   display:none;
   position:absolute;
   box-shadow:5px 5px 20px #666;
   z-index:2;
   padding:20px;
   background-color:white;
}
li:hover div.detail-modal{
   display:block;
}

@media print {
   body { font-size:90%; }
   #inner { padding:0px; margin:0px; }
   #hd{ margin: 0px; }
   .job{ margin:0px; }
   .enlarge{ padding:0px; }
   #pdf{ display:none; }
   #ft{ margin:0px; padding:3px; }
   a{ text-decoration:none; color:inherit; }
   .contact-info{background:none; margin-left:auto;}
   li:hover div.detail-modal{display:none;}
   .detail-modal{display:none!important;}
}
